* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none;
}

nav ul li a:not(.active) {
    color: red;
}

/*This .active will highlight the current page we are on*/
.active {
    font-weight: bold;
    color: white;
}
